<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Musix - A Music app without music</title>
    <script src="js/search.js"></script>
</head>

<body>
<div style="display:inline">
    <a href="/" style="text-decoration:none">Home</a>|
    <a href="/toptracks" style="text-decoration:none">Top Tracks</a>|
    <a href="/topartists" style="text-decoration:none">Top Artists</a>|
    <a href="/playlist" style="text-decoration:none">Playlists</a>
    <form action="#" id="searchForm" method="GET">
        <input type="text" id="searchQuery" name="search_query" required>
        <input type="hidden" value="1" name="page_number">
        <input type="button" value="Search Artist" onclick="searchArtist()">
        <input type="button" value="Search Track" onclick="searchTrack()">
    </form>
    <hr>
</div>

<table>
    <thead>
    <tr>
        <th>Artist Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="artist : ${top_artist}">
        <td><a th:href="@{/toptracks(artist=${artist.artistName})}" th:text="${artist.artistName}">Artist Name</a></td>
    </tr>
    </tbody>
</table>

</body>
</html>