<!DOCTYPE html>
<html>
<body>
<div style="display:inline">
    <a href="/" style="text-decoration:none">Home</a>
    <a href="/toptracks" style="text-decoration:none">Top Tracks</a>
    <a href="/toptracks" style="text-decoration:none">Top Artists</a>
    <form action="search" method="GET">
        <input type="text" name="search_query" required>
        <input type="submit" value="Search">
        <input type="hidden" value="1" name="page_number">
    </form>
    <hr>
</div>
<h3>You weren't supposed to see this</h3>
<a href="/">Go Drunk You're Home</a>
</body>
</html>