<!DOCTYPE HTML>
<html>

<head>
    <title>Musix - A music app without music</title>
    <script src="js/search.js"></script>
</head>
<body>
<a href="/playlist">Playlists</a>           <!--Show all playlist-->

<h4>What Can You Do ?</h4>
<p>It seems are we are offline... You can</p>
<ul>
    <li>Manage Your Playlists(and later cry when you realize it was all in-memory)</li>
    <li>Crud Around With Your Playlists</li>
    <li>Search For Offline Tracks (brute approach though)</li>
</ul>

<h4>What Can't You Do ?</h4>
<ul>
    <li>Among other things you still can't listen to music :(</li>
</ul>
<p>Yeah, I guess you're better off with <a href="https://www.youtube.com" style="text-decoration:none">Youtube</a></p>
<p>Oh Wait!</p>
</body>
</html>