<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>

<body>
<div style="display:inline">
    <a href="/" style="text-decoration:none">Home</a>
    <a href="/toptracks" style="text-decoration:none">Top Tracks</a>
    <a href="/topartists" style="text-decoration:none">Top Artists</a>
    <form action="search" method="GET">
        <input type="text" name="search_query" required>
        <input type="submit" value="Search">
        <input type="hidden" value="1" name="page_number">
    </form>
    <hr>
</div>

<form action="#" th:action="@{/playlist/updateplaylist}" th:object="${update_playlist}" method="post">
    <input type="hidden" th:field="*{playlist_id}"/>
    <input type="text" th:field="*{playlistName}"/>
    <input type="submit" value="Update">
</form>
<a th:href="@{/playlist/deleteplaylist(list_id=${list})}"  onclick="return confirm('Are you sure?')">Delete Playlist</a> <!--Delete the whole playlist-->


<h5 th:if="${tracks.empty}" th:text="'Poof! It\'s empty'"></h5>
<table th:if="${not tracks.empty}">
    <thead>
    <tr>
        <th>Artist</th>
        <th>Music</th>
<!--        <th>Playlist</th>-->
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="track : ${tracks}">
        <td th:text="${track.artistName}"></td>
        <td th:text="${track.trackName}"></td>
<!--        <td th:text="${track.playlist}"></td>-->
        <td>
            <!--Delete a track in playlist-->
            <a th:href="@{/playlist/deletetrack(track_id=${track.track_id}, list_id=${list})}">remove</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>