<!--<html xmlns:th="http://www.thymeleaf.org">-->
<head>
    <title>Musix - A music app without music</title>
    <script src="js/search.js"></script>
    <script src="js/formonclick.js"></script>
</head>

<body>
<div style="display:inline">
    <a href="/" style="text-decoration:none">Home</a>
    <form action="/searchOffline" id="searchForm" method="GET">
        <input type="text" id="searchQuery" name="search_query" required="required"/>
        <input type="submit" value="Search Offline"/>
    </form>
    <hr>
</div>

<button onclick="showForm()">Add Playlist</button>
<div id="formDIV" style="display:none;">
    <form action="#" th:action="@{/playlist/add}" th:object="${add_playlist}" method="post">
        <input type="text" th:field="*{playlistName}" placeholder="Playlist Name"/>
        <input type="submit" value="Add">
        <input type="reset" value="Reset">
    </form>
</div>

<table>
    <thead>
    <tr>
        <th>Available Playlists</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="playlist : ${playlists}">
        <td>
            <a th:href="@{/playlist(list=${playlist.playlist_id})}" th:text="${playlist.playlistName}"></a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>